/* src/components/Hero.css */

.hero {
    background-color: var(--red);
    /* Red background */
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    background-color: var(--yellow);
    /* Yellow button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: var(--green);
    /* Green hover effect */
}